header {
    width: 960px;
}
header h1 {
    display: inline-block;
}
header a {
    text-decoration-line: underline;
}
header :nth-child(2) {
    margin-left: 600px;
    margin-right: 20px;
}
input {
    display: inline-block;
    margin: 20px 20px;
    width: 250px;
}
label {
    margin-left: 20px;
    margin-right: 174px;
}
textarea {
    margin-left: 19px;
    margin-right: 18px;
}
#datefield {
    display: inline;
    vertical-align: top;
}
#datefield label {
    vertical-align: top;
    display: inline-block;
}
#datefield input {
    margin-left: -240px;
    margin-top: 20px;
}
#auctionbutton {
    width: auto;
}